In [18]:
import urllib
import json                 # Used to load data into JSON format
from pprint import pprint   # pretty-print

In [29]:
url = "https://aoe2.net/api/leaderboard?game=aoe2de&leaderboard_id=3&start=1&count=10000"
response = urllib.request.urlopen(url)
print(response)
# Just an object:   <http.client.HTTPResponse at 0x7f2618123e10>

<http.client.HTTPResponse object at 0x000001EDE94D3A48>

In [30]:
text = response.read()

In [31]:
json_data = json.loads(text)

In [32]:
import pandas as pd

In [37]:
df1 = pd.DataFrame(data=json_data['leaderboard'])
df1 = df1.set_index('rank')
df1.tail()

,profile_id,rating,steam_id,icon,name,clan,country,previous_rating,highest_rating,streak,lowest_streak,highest_streak,games,wins,losses,drops,last_match,last_match_time
rank,,,,,,,,,,,,,,,,,,
9996,1614015,1155,76561198141752514,None,IlGrandeGherpy,None,IT,1172.0,1230,-1,-6,5,44,23,21,1,1594638165,1594638165
9997,202942,1155,76561198148210241,None,Tianxo el Granjero,Chile,RU,1169.0,1178,-1,-3,5,57,33,24,2,1593827863,1593827863
9998,1460139,1155,76561198220275737,None,伐伐伐伐伐木工,None,CN,1169.0,1169,-1,-5,8,54,33,21,0,1594529552,1594529552
9999,304795,1155,76561198120637541,None,Dean Sean Bean,ßean,AU,1139.0,1155,2,-4,5,66,37,29,1,1592834505,1592834505
10000,1303880,1155,76561197984806884,None,[ARi$EN] Jds7110,None,BE,NaN,1155,4,4,4,10,7,3,0,1592697463,1592697463

In [38]:
url = "https://aoe2.net/api/leaderboard?game=aoe2de&leaderboard_id=3&start=10001&count=10000"
response = urllib.request.urlopen(url)
print(response)
# Just an object:   <http.client.HTTPResponse at 0x7f2618123e10>
text = response.read()
json_data = json.loads(text)

<http.client.HTTPResponse object at 0x000001EDE9FDF908>

In [40]:
df2=pd.DataFrame(data=json_data['leaderboard'])
df2 = df2.set_index('rank')
df2.tail()

,profile_id,rating,steam_id,icon,name,clan,country,previous_rating,highest_rating,streak,lowest_streak,highest_streak,games,wins,losses,drops,last_match,last_match_time
rank,,,,,,,,,,,,,,,,,,
19996,361744,997,76561198036358845,None,TeaGuy,None,AU,981.0,999.0,3,-2.0,3.0,25,13,12,2,1593783457,1593783457
19997,2134165,997,76561198271385297,None,c-wiechert,None,CL,977.0,999.0,1,-1.0,4.0,18,10,8,0,1594438607,1594438607
19998,2109428,997,76561198254473247,None,SeruGiran,None,AR,NaN,997.0,-1,-1.0,-1.0,10,5,5,1,1594601938,1594601938
19999,2013847,997,76561198040500176,None,Sorghum,None,US,982.0,1098.0,1,-5.0,2.0,21,10,11,0,1593286046,1593286046
20000,2010048,997,None,None,yhaiqn690907,LAT,None,1011.0,1179.0,-8,-8.0,1.0,20,9,11,0,1593261056,1593261056

In [41]:
url = "https://aoe2.net/api/leaderboard?game=aoe2de&leaderboard_id=3&start=20001&count=10000"
response = urllib.request.urlopen(url)
print(response)
# Just an object:   <http.client.HTTPResponse at 0x7f2618123e10>
text = response.read()
json_data = json.loads(text)

<http.client.HTTPResponse object at 0x000001EDE9FDFC08>

In [43]:
df3=pd.DataFrame(data=json_data['leaderboard'])
df3 = df3.set_index('rank')
df3.tail()

,profile_id,rating,steam_id,icon,name,clan,country,previous_rating,highest_rating,streak,lowest_streak,highest_streak,games,wins,losses,drops,last_match,last_match_time
rank,,,,,,,,,,,,,,,,,,
29996,400746,844,76561198300701811,None,SweetestFoil,None,US,815.0,872,1,-4,1,14,5,9,0,1593548677,1593548677
29997,2578379,844,76561198987079589,None,dfgr109109,CORP,CO,860.0,909,-4,-4,5,25,11,14,1,1594581110,1594581110
29998,2546717,844,76561199053868591,None,Ziegenbub,None,DE,825.0,863,2,-7,2,18,6,12,0,1592767326,1592767326
29999,2470055,844,76561198078008086,None,MegaDestruction,None,FI,830.0,907,2,-4,2,23,9,14,0,1593974657,1593974657
30000,2435698,844,76561198851139021,None,ELMARGU,None,AR,830.0,845,2,-3,8,28,15,13,1,1594614748,1594614748

In [44]:
url = "https://aoe2.net/api/leaderboard?game=aoe2de&leaderboard_id=3&start=30001&count=6454"
response = urllib.request.urlopen(url)
print(response)
# Just an object:   <http.client.HTTPResponse at 0x7f2618123e10>
text = response.read()
json_data = json.loads(text)

<http.client.HTTPResponse object at 0x000001EDE95E34C8>

In [46]:
df4=pd.DataFrame(data=json_data['leaderboard'])
df4 = df4.set_index('rank')
df4.tail()

,profile_id,rating,steam_id,icon,name,clan,country,previous_rating,highest_rating,streak,lowest_streak,highest_streak,games,wins,losses,drops,last_match,last_match_time
rank,,,,,,,,,,,,,,,,,,
36450,2113892,242,76561199040790084,None,Liewe Heksie,None,ZA,245.0,719,-1,-10,3,104,24,80,2,1594213492,1594213492
36451,1950140,242,76561198151504398,None,Suit up bro,None,US,253.0,743,-19,-19,4,77,16,61,5,1593809948,1593809948
36452,2573338,218,None,None,goprogambler,None,None,225.0,672,-9,-40,5,249,40,209,37,1594618993,1594618993
36453,2750718,191,76561198380626512,None,wayneniky,None,GH,196.0,758,-1,-19,3,71,11,60,8,1594576128,1594576128
36454,378095,175,76561198435270845,None,lauran1,ITA,IT,186.0,688,-12,-17,1,59,5,54,1,1592601275,1592601275

In [14]:
df4.tail()

,profile_id,rating,steam_id,icon,name,clan,country,previous_rating,highest_rating,streak,lowest_streak,highest_streak,games,wins,losses,drops,last_match,last_match_time
rank,,,,,,,,,,,,,,,,,,
2124,1449416,1425,76561198360236909,None,彧彧彧彧彧,None,TW,1409.0,1425,1,-5,7,110,63,47,1,1594442600,1594442600
2125,304309,1425,76561198171701638,None,Swagdaddy The Merciful,None,US,1441.0,1443,-1,-3,7,82,52,30,0,1594517903,1594517903
2126,1263760,1425,76561198341210424,None,Nico77,DauT,AR,1413.0,1486,1,-5,5,76,43,33,3,1594676671,1594676671
2127,579545,1424,76561198033930613,None,Larzen,None,DE,1440.0,1457,-1,-5,6,293,157,136,9,1594642049,1594642049
2128,461281,1424,76561198879513233,None,Christopher,None,US,1411.0,1457,1,-8,6,768,396,372,25,1594692145,1594692145

In [49]:
#frames = [df4,df3,df2,df1]
frames = [df1,df2,df3,df4]
leaderboard = pd.concat(frames)

In [50]:
leaderboard.head()

,profile_id,rating,steam_id,icon,name,clan,country,previous_rating,highest_rating,streak,lowest_streak,highest_streak,games,wins,losses,drops,last_match,last_match_time
rank,,,,,,,,,,,,,,,,,,
1,251265,2324,76561197996386232,None,[aM] MbL40C,None,NO,2322.0,2372.0,3,-9.0,17.0,1519,1054,465,80,1594679211,1594679211
2,208393,2316,76561198027378107,None,Nicov,None,AR,2312.0,2316.0,13,-4.0,19.0,601,449,152,6,1594642838,1594642838
3,197388,2308,76561198088251629,None,Secret TaToH,TaToH,ES,2300.0,2343.0,1,-5.0,21.0,416,298,118,3,1594491890,1594491890
4,199325,2303,76561198449406083,None,[aM] Hera,None,CA,2315.0,2373.0,-2,-6.0,21.0,1399,945,454,10,1594675885,1594675885
5,196240,2298,76561197984749679,None,TheViper,None,DE,2288.0,2341.0,2,-5.0,22.0,470,328,142,1,1594417850,1594417850

In [51]:
leaderboard.tail()

,profile_id,rating,steam_id,icon,name,clan,country,previous_rating,highest_rating,streak,lowest_streak,highest_streak,games,wins,losses,drops,last_match,last_match_time
rank,,,,,,,,,,,,,,,,,,
36450,2113892,242,76561199040790084,None,Liewe Heksie,None,ZA,245.0,719.0,-1,-10.0,3.0,104,24,80,2,1594213492,1594213492
36451,1950140,242,76561198151504398,None,Suit up bro,None,US,253.0,743.0,-19,-19.0,4.0,77,16,61,5,1593809948,1593809948
36452,2573338,218,None,None,goprogambler,None,None,225.0,672.0,-9,-40.0,5.0,249,40,209,37,1594618993,1594618993
36453,2750718,191,76561198380626512,None,wayneniky,None,GH,196.0,758.0,-1,-19.0,3.0,71,11,60,8,1594576128,1594576128
36454,378095,175,76561198435270845,None,lauran1,ITA,IT,186.0,688.0,-12,-17.0,1.0,59,5,54,1,1592601275,1592601275

In [53]:
leaderboard = leaderboard.drop(['clan','country','icon','previous_rating','steam_id'], axis=1)
leaderboard.head()

,profile_id,rating,name,highest_rating,streak,lowest_streak,highest_streak,games,wins,losses,drops,last_match,last_match_time
rank,,,,,,,,,,,,,
1,251265,2324,[aM] MbL40C,2372.0,3,-9.0,17.0,1519,1054,465,80,1594679211,1594679211
2,208393,2316,Nicov,2316.0,13,-4.0,19.0,601,449,152,6,1594642838,1594642838
3,197388,2308,Secret TaToH,2343.0,1,-5.0,21.0,416,298,118,3,1594491890,1594491890
4,199325,2303,[aM] Hera,2373.0,-2,-6.0,21.0,1399,945,454,10,1594675885,1594675885
5,196240,2298,TheViper,2341.0,2,-5.0,22.0,470,328,142,1,1594417850,1594417850

In [54]:
leaderboard.shape

(36454, 13)

In [ ]:
#leaderboard.isnull().sum().sum()

In [ ]:
#leaderboard.isnull().sum()

In [ ]:
#leaderboard.dropna().isnull().sum()

In [ ]:
#leaderboard = leaderboard.dropna()
leaderboard.head()

In [ ]:
#leaderboard.isnull().sum().sum()

In [55]:
leaderboard.to_csv("leaderboard.csv")